<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>[[#{history.headline}]]</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">[[#{history.headline}]]</h1>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover align-middle">
            <thead>
            <tr>
                <th scope="col">[[#{revision.number.label}]]</th>
                <th scope="col">[[#{revision.modifiedAt.label}]]</th>
                <th scope="col">[[#{revision.modifiedBy.label}]]</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="revision,iter : ${revisions}"
                      th:with="current=${revision.value},previous=${iter.last ? null : revisions[iter.index+1].value}">
                <tr>
                    <td>[[${iter.size - iter.index}]]</td>
                    <td>[[${#dates.format(revision.modifiedAt)}]]</td>
                    <td>[[${revision.modifiedBy}]]</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div th:id="'revision-' + ${iter.index} + '-changes'"><!-- --></div>
                    </td>
                </tr>
                <script th:inline="javascript">
                    htmx.onLoad(function () {
                        const diffString = /*[[${@diffUtils.asUnifiedJsonDiff(previous, current)}]]*/ null;
                        const targetElement = document.getElementById('revision-[[${iter.index}]]-changes');
                        const configuration = {
                            drawFileList: false,
                            fileListToggle: false,
                            fileListStartVisible: false,
                            fileContentToggle: false,
                            matching: 'lines',
                            outputFormat: 'side-by-side',
                            synchronisedScroll: true,
                            highlight: true,
                            renderNothingWhenEmpty: false,
                        };
                        if (targetElement) {
                            const diff2htmlUi = new Diff2HtmlUI(targetElement, diffString, configuration);
                            diff2htmlUi.draw();
                            diff2htmlUi.highlightCode();
                        }
                    });
                </script>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
